<!-- navigation -->
{{#foreach navigation}}
<a class="navbar-item {{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}

{{!-- a dropdown example --}}
<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
          More
    </a>
    <div class="navbar-dropdown">
        <a class="navbar-item">
        About
        </a>
        <a class="navbar-item">
        Jobs
        </a>
        <a class="navbar-item">
        Contact
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item">
        Report an issue
        </a>
    </div>
</div>
