<!-- navigation -->
{{#foreach navigation}}
<a class="navbar-item {{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}
<div class="navbar-item" id="search-btn">
      <i class="iconfont icon-search"></i>
</div>
<div class="fizzy-search">
    <div class="field has-addons" style="display:none" id="search-form">
        <div class="control has-icons-left">
            <input id="search-input" class="input" placeholder="{{t "Search"}}">
            <span class="icon is-left">
                <i class="iconfont icon-search"></i>
            </span>
        </div>
        <div class="control"  id="close-btn">
            <button type="submit" class="button"><i class="iconfont icon-cross"></i></button>
        </div>
    </div>
    <div id="search-results"></div>
</div>