<nav class="pagination" role="navigation" aria-label="pagination">
    <div class="columns">
        {{#if prev}}
        <div class="column">
        <a href="{{page_url prev}}" class="pagination-next">Newer Posts</a>
        </div>
        {{/if}}

        <div class="column">
            <span class="pagination-link is-current">Page {{page}} of {{pages}}</span>
        </div>

        {{#if next}}
        <div class="column">
            <a href="{{page_url next}}" class="pagination-previous">Older Posts</a>
        </div>
        {{/if}}
    </div>
</nav>