<div class="buttons has-addons is-centered" aria-label="pagination">
    {{#if prev}}
    <a href="{{page_url prev}}" class="button" title="Newer Posts">«</a>
    {{/if}}
    <span class="button is-danger is-static">{{page}} / {{pages}}</span>
    {{#if next}}
    <a href="{{page_url next}}" class="button" title="Older Posts">»</a>
    {{/if}}
</div>