{{!-- Comment Block --}}
<section class="section">
    <div class="columns is-mobile">
        <div class="column is-2-widescreen is-1-desktop is-hidden-touch"></div>
        <div class="column is-8-widescreen is-10-desktop">
            {{!-- DISQUS --}}
            <div id="disqus_thread"></div>
        </div>
        <div class="column is-2-widescreen is-1-desktop is-hidden-touch"></div>
        </div>
    </div>
</section>

{{!-- DISQUS Config: start --}}
<script>
var disqus_config = function () {
	this.page.url = "{{url absolute="true"}}";  
	this.page.identifier = "ghost-{{comment_id}}";
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://fizzycc.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{{!-- DISQUS Config: end --}}