{{!--  home.hbs --}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- showcase --}}
{{> showcase}}

{{!-- main --}}
<main class="section">
    <div class="columns">
        <div class="column is-2-widescreen is-1-desktop is-hidden-touch"></div>
        <div class="column is-8-widescreen is-10-desktop is-12-tablet">
            {{#foreach posts}}
            
                {{!-- exclude #noindex --}}
                {{#has tag="#noindex"}}
                    {{!-- nothing --}}
                {{else}}
                    {{> list_card}}
                {{/has}}

                {{!-- inject something for every 3 items --}}
                {{#has number="nth:3"}} 
                    {{!-- {{> "ads"}} --}}
                {{/has}}

            {{else}}
                {{t "There is no post yet."}}
            {{/foreach}}
        </div>
        <div class="column is-hidden-touch"></div>
    </div>
</main>

{{!-- pagination --}}
<section class="section is-padding-top-05">
    <div class="container">
        {{pagination}}
    </div>
</section>