/* ===== Customize Styles ===== */

/* global */
:root {
    --main-color: #fb3b3b;
    --secondary-color:#4472e4;
    --link-color-hover: #ff7a7a;
    --text-black: #333;
    --text-dark: #7a0404;
    --bg-color-light: #fff3f3;
    --shadow: rgba(238,95,91,0.25);
  }