/* ====================== import ====================== */
@import "class.css"; 
@import "divider.min.css";

/* ====================== over-write bulma default ====================== */
/* fix "has-spaced-navbar-fixed-top" cut off the top on modile devices 2019.04.09 */
@media screen and (max-width: 1087px){
    body.has-spaced-navbar-fixed-top, html.has-spaced-navbar-fixed-top {
        padding-top: 3.25rem;
    }
}

/* listing padding on mobile*/
@media screen and (max-width: 768px){
    main.section {
        padding: 1.5rem !important;
    }
}

/* inline code */
p code, blockquote code, li > code, table code{
	color:inherit!important;
	margin: 0 1px!important;
    padding: .1em .4em!important;
    font-size: .85em!important;
    background: #f6f6f6!important;
    border: 1px solid #ddd!important;
	border-radius: 3px!important;
	font-style:normal;
	white-space: nowrap;
}

/* for code block background */
pre{border-radius:6px;}

/* navbar */
.navbar-item {
	margin-right: 0.25rem;
}
.nav-current {
	background-color: #eee;
}
/* button */
.button{
	transition: all .3s ease;
}

/* ====================== bulma & Prismjs conflict 2019.05.12 ====================== */
.content .tag, .content .number {
	display: inline;
	padding: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
	vertical-align: inherit;
	border-radius: inherit;
	font-weight: inherit;
	white-space: inherit;
	background: inherit;
	margin: inherit;
  }
/* ====================== components ====================== */
.featured-label {
    position: absolute;
    background-color: #f7b413;
    color: #000;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0 10px;
    border-radius: 4px;
    text-transform: uppercase;
}
.featured-label.large{
	font-size: 1.2rem;
}
.badge {
	display: inline-block;
    padding: 2px 3px 3px;
	border: 1px solid;
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
    line-height: 1em !important;
    font-weight: 600 !important;
	text-align: center;
	vertical-align: middle;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    white-space: nowrap;
    user-select: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.badge.green {
    border-color: #84a731;
    color: #fff;
    background: linear-gradient(#a4d037,#84a731);
}
.badge.blue {
    border-color: #3777bc;
    color: #fff;
    background: linear-gradient(#37a2d0,#3773bc);
}
.badge.red {
    border-color: #ab2929;
    color: #fff;
    background: linear-gradient(#e34242,#ab2929);
}
.badge.purple {
    border-color: #721fae;
    color: #fff;
    background: linear-gradient(#c042e3,#721fae);
}
.can-scale{
	transition: all .3s;
}
.can-scale:hover{
	transform: scale(1.02);
	transition: all .5s ease;
}
/* ====================== fonts ====================== */
h1,h2,h3,h4,h5,h6{
	font-family:
	'Montserrat',
	-apple-system,
	BlinkMacSystemFont,
	"Microsoft YaHei",
	sans-serif;
}
.is-montserrat {
	font-family:'Montserrat', sans-serif;
}
.is-georgia {
	font-family: Georgia, sans-serif !important;
}

/* ====================== body ====================== 2019.04.11 */
html {
	scroll-behavior: smooth;
}
html,body{
	overflow-x: hidden;
}

/* ====================== header ====================== 2019.04.12 */

.navbar-brand .text-logo {
	font-weight:700;
	font-size:1.5rem;
}
.navbar-brand .navbar-item a {
	color:#000;
}
.navbar-brand .navbar-item span {
	color:#fb3c3b;
}

/* ====================== component: carousel ====================== 2019.04.09 */

h3{ margin-bottom: 20px; }
.carousel .slick-item{ display: none; margin-right: 5px; outline: 0; }
.carousel article{ height: 300px; position: relative; overflow: hidden; }
.carousel article a{ display: block; height: 100%; position: relative; z-index: 2; }
.carousel article a span.cover{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.carousel article a span.overlay{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40%;
	z-index: 2;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.68) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.68))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* W3C */
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.carousel article a div.meta{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	padding: 20px 20px 0;
	position: absolute;
	left: 0;
	bottom: 20px;
	color: #fff;
	z-index: 101;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.carousel article a div.meta time{ position: absolute; right: 20px; bottom: 0; text-align: right; }
.carousel article a div.meta .title{ margin-bottom: 15px; font-size: 20px; color: #fff; line-height: 1.2; text-shadow: 0px 1px 3px rgba(0,0,0,.75); }
.carousel article a div.meta div.tags{ float: left; }
.carousel article a div.meta time{ float: right; color: #fff;  }

/* @end */

/* ====================== index ====================== 2019.04.09 */
/* index: post-card 2019.04.09 */
@media screen and (min-width: 769px){
	.post-card {
		min-height:320px;
	}
}

/* index: featured-image 2019.04.10 */
.featured-image {
	height:100%;
	/* border-radius: 8px 0 0 8px; */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 768px){
	.featured-image {
	min-height:140px;
	/* border-radius: 6px 6px 0 0; */
	}
}

/* index: post-meta 2019.04.09 updated: 2019.04.11 */
.post-info {
	position: relative;
}
@media screen and (max-width: 768px){
	.post-info {
		padding: .9rem 1.8rem;
	}
	.post-card.columns{margin-top:0;}
	.post-card .column{
		padding: 0;
	}
}
@media screen and (min-width: 769px) and (max-width: 1215px){
	.post-info {
		padding:24px;
	}
}
@media screen and (min-width: 1216px){
	.post-info {
		padding:32px;
	}
}

/* index: featured-label - Updated:2019.05.10 */
.post-info .featured-label {
	top: 10px;
	right: 10px;
	height: 28px;
    line-height: 28px;
}
@media screen and (max-width: 768px){
	.post-info .featured-label.has-img {
		top: -31px;
		right: 20px;
		height: 24px;
    	line-height: 24px;
	}
	.post-info .featured-label.no-img {
		top: 10px;
    	right: 20px;
		height: 24px;
    	line-height: 24px;
	}	
}

/* ====================== post ====================== 2019.04.13 */

/* remove box border-radius in mobile device 2019.04.11 */
@media screen and (max-width: 768px){
	.single-article .box {border-radius: 0;} 
}
.single-article .featured-image {
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 6px 6px 0 0;
}
@media screen and (max-width: 768px){
	.single-article .featured-image {
		height: 200px;
		border-radius:0;
	}
}
/* for featured-label 2019.05.10 */
.featured-image{position:relative;}
.featured-image .featured-label{
	bottom:10px;
	right:10px;
} 

.single-article .post-wrap {
    max-width: 760px;
    padding: 48px 15px;
    font-size: 1.25rem;
	line-height: 2;
	margin: auto!important;
}

.single-article .post-wrap .post-content h1,h2,h3{
	font-family:'Montserrat', sans-serif !important;
}

/* post fonts */
.post-wrap h1 {font-size:calc(1.4vw + 1.1rem)!important}
.post-wrap h2 {font-size:calc(1vw + 1rem)!important}
.post-wrap h3 {font-size:calc(0.8vw + 0.85rem)!important}
.post-wrap h4 {font-size:calc(0.7vw + 0.8rem)!important}
.post-wrap h5 {font-size:calc(0.65vw + 0.7rem)!important}
.post-wrap h6 {font-size:calc(0.55vw + 0.6rem)!important}
.post-wrap h2,.post-wrap h3, .post-wrap h4, .post-wrap h5, .post-wrap h6 {font-weight: 600 !important;}
.post-wrap h3, .post-wrap h4, .post-wrap h5, .post-wrap h6 {margin-bottom: 0.4em!important;}

/* post-content 2019.04.13 */
.post-wrap .post-content a {
	color:#000;
	word-break: break-word;
	border-bottom:1px dashed;
	transition: all .25s;
}
.post-wrap .post-content a:hover {
	color:#ff7a7a;
	border-bottom:1px solid;
}
/* paragraph */
.post-wrap .post-content p {
	line-height: 1.5em;
}
/* hr */
.post-wrap .post-content hr{background: linear-gradient(90deg, #a256e8 0%, #e85668 100%)}
/* list */
.post-wrap .post-content ul,.post-content ol{
	margin-left: 1.5em;
}
.post-wrap .post-content li {
	line-height: 1.4em;
	margin: 0.5em 0;
}

/* Nested list */
.post-wrap .post-content ul ul {
	margin-top: 0.25em;
}
.post-wrap .post-content ul ul li {
	line-height: 1.4em;
}

/* code block */
.post-wrap .post-content pre code {
	display: block;
	line-height: 1.5em;
	font-size: calc(0.4vw + 0.5rem);
	font-weight: 400;
	/* padding-bottom: 1.2em; */
}

/* image layout (temporary solution, may have some bugs 2019.04.14) */
.single-article .post-content figure{
	margin-left: 0rem; /* overwrite deault 2rem */
	margin-right: 0rem; /* overwrite deault 2rem */
}
.single-article .post-content .kg-embed-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}
/* wide image */
.single-article .post-content .kg-width-wide {
	max-width: 100vw;
	margin: 0 calc(-50vw + 50%);
}
.single-article .post-content .kg-width-wide img {
	max-width: 100vw;
	width: auto;
	height: auto;
}
/* full width image */
.single-article .post-content .kg-width-full{
    max-width: 100vw;
	width: 100vw;
	margin: 0 calc(-50vw + 50%);
}
.single-article .post-content .kg-width-full img{
	max-height: 70vh;
	object-fit: cover;
	width:100%;
}
/* gallery */
.kg-gallery-card{
	margin: 1rem auto !important;
}
@media screen and (max-width:768px){
	.kg-gallery-card{width:100%;margin:1rem auto !important;}
}
.single-article .post-content .kg-gallery-container {
	max-width:100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.single-article .post-content .kg-gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}
.single-article .post-content .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%}
.single-article .post-content .kg-gallery-row:not(:first-of-type) {
    margin: .25em 0 0 0;
}
.single-article .post-content .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 .25em;
}
.about-author{max-width: 760px; margin: 0 auto;}
.about-author .meta-info {
    padding: 0;
    margin: 0 0 8px 0;
	list-style: none;
}
.about-author .meta-info li {
    display: inline-block;
    margin: 0 4px 8px 4px;
    line-height: 1.5rem;
    font-size: 1rem;
}
.about-author .bio {
	min-height:3em;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 8px;
}

/* Blockquotes */
.single-article .post-wrap .post-content blockquote {
	font-style: italic;
	line-height:1.5em;
	border-radius: 0 6px 6px 0;
	background-color: #f6f6f6;
	border-left: 5px solid;
	border-color:#fb3b3b;
	margin-left: -1.5em;
	padding: .5em .5em .5em calc(1.5em - 5px);
}
.single-article .post-wrap .post-content blockquote:hover {
	background-image: linear-gradient(to bottom right, #fef8f8, #e4f4fe);
}
@media screen and (max-width: 880px){
	.single-article .post-wrap .post-content blockquote {
		margin-left: 0;
		padding: .5em .75em;
	}
}
/* table responsive 2019.05.11 */
/* https://codepen.io/brunodplima/pen/rzpaLO */
@media screen and (max-width: 768px) {
	table {
	  width: 100%;
	  border-collapse: collapse;
	  border-spacing: 0;
	  display: block;
	  position: relative;
	}
	table td:empty:before {
	  content: " ";
	}
	table th,
	table td {
	  margin: 0;
	  vertical-align: top;
	}
	table th {
	  text-align: left;
	}
	table thead {
	  border-right: solid 2px #dbdbdb;
	  display: block;
	  float: left;
	}
	table thead tr {
	  display: block;
	  padding: 0 10px 0 0;
	}
	table thead tr th::before {
	  content: " ";
	}
	table thead td,
	table thead th {
	  border-width: 0 0 1px;
	}
	table tbody {
	  display: block;
	  width: auto;
	  position: relative;
	  overflow-x: auto;
	  white-space: nowrap;
	}
	table tbody tr {
	  display: inline-block;
	  vertical-align: top;
	}
	table th {
	  display: block;
	  text-align: right;
	}
	table td {
	  display: block;
	  min-height: 1.25em;
	  text-align: left;
	}
	table th:last-child,
	table td:last-child {
	  border-bottom-width: 0;
	}
	table tr:last-child td:not(:last-child) {
	  border: 1px solid #dbdbdb;
	  border-width: 0 0 1px;
	}
	table.is-bordered td,
	table.is-bordered th {
	  border-width: 1px;
	}
	table.is-bordered tr td:last-child,
	table.is-bordered tr th:last-child {
	  border-bottom-width: 1px;
	}
	table.is-bordered tr:last-child td,
	table.is-bordered tr:last-child th {
	  border-width: 1px;
	}
  }

/* ====================== post: aside ====================== 2019.04.11 */
@media screen and (min-width: 769px){
	.aside {
		padding-bottom: 3rem;
	}
}
.aside .post-card{
	height:100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: #fff center center;
	background-size: cover;
	border-radius: 6px;
	box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
	transition: all 0.5s ease;
}
.aside .post-card:hover {
	box-shadow: rgba(39,44,49,0.07) 8px 28px 50px, rgba(39, 44, 49, 0.04) 1px 6px 12px;
	transition: all 0.4s ease;
	transform: translate3D(0, -1px, 0) scale(1.02);
}
.aside .featured-image {
	min-height: 190px;
	/* border-radius: 6px 6px 0 0; */
}
.aside .post-info {
	padding:15px;
}
@media screen and (min-width: 768px) and (max-width: 1087px){
	.aside .post-info {
		padding:20px;
	}
}

@media screen and (max-width: 768px){
	.aside .featured-image {
		min-height:150px;
	}
}
.aside .featured-label {
    top: -38px;
}
@media screen and (max-width: 768px){
	.aside .post-info .featured-label.has-img {
		top: -34px;
		right: 10px;
		height: 24px;
    	line-height: 24px;
	}
	.aside .post-info .featured-label.no-img {
		top: 10px;
    	right: 10px;
		height: 24px;
    	line-height: 24px;
	}	
}
/* aside: tag list card */
.aside .tag-list {
	display: flex !important;
	flex-direction: column;
	justify-content: space-around;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aside .tag-list-header {
	display: flex;
  	flex-direction: column;
    position: relative;
    z-index: 50;
    text-align: center;
}
.aside .tag-list-header-topic {
	padding: 0.5rem;
}
.aside .tag-list-content { 
	height:100%;
	position: relative;
    z-index: 50;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.7rem;
}
.aside .tag-list-content li {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 200;
	letter-spacing: -.5px;
	/* box-shadow: #aaa 0 -1px 0 inset; */
}
.aside .tag-list-content a {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.aside .tag-list-content a:hover {
	border-bottom: 1px solid #fff;
}
.aside .tag-list-content a:hover > li {
	font-weight:600;
}
.aside .tag-list-footer {
	display: flex;
  	flex-direction: column;
    position: relative;
    margin: 15px 0 3px;
    text-align: center;
}
.aside .tag-list-footer a {
	color: #fff;
}
.aside .tag-list-footer a:hover > span {
	font-weight:600;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.aside .box {
	height:100%;
}

/* ====================== template: Tag Archive ====================== 2019.04.14 */
.card-wrap {
    margin-bottom: 30px;
}
.tag-card {
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(12, 12, 94, .1);
}
.tag-card.no-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.tag-card.no-image .tag-info {
    width: 100%}
.tag-card .tag-image {
	/* height: 144px; */
	height: calc(90px + 3vw);
    border-radius: 8px 8px 0 0;
    background-size: cover;
    background-position: center center;
}
.tag-card .tag-info {
	padding: 16px;
	vertical-align: middle;
}
.tag-card .tag-info .tag-name {
	margin-bottom: .5rem;
	font-size: 1.5rem;
	font-weight: 600;
}
.tag-card .tag-info .tag-name {
    text-transform: capitalize;
	color: #222;
	transition: all .25s;
}
.tag-card:hover .tag-info .tag-name {
    color: #fb3c3b;
}
.tag-card .tag-info .post-count {
	color: #222;
}
.tag-list-header .title span{
	padding:0.5rem 1.5rem;
}

/* ====================== template: Full Width ====================== 2019.05.10 */
.single-article .post-wrap.full-width {
    max-width: 960px;
    padding: 48px 15px;
    font-size: 1.25rem;
	line-height: 2;
	margin: auto!important;
}


/* ====================== footer ====================== 2019.04.12 */
.declare a {
	color:#000;
	word-break: break-word;
	transition: all .25s;
    
}
.declare a:hover {
	/* color:#fb3c3b; */
	box-shadow: #fb3c3b 0 -1px 0 inset;
}

/* ====================== error page ====================== 2019.05.10 */
.error-wrap {
    margin: 0 auto;
    padding: 80px 30px;
    max-width: 760px;
}
.error-wrap .error-code {
	font-size: 5rem;
	line-height: 1.2;
	font-weight: 700;
	background-color: #222831;
	color: #fff;
	padding: 0 24px;
	border-radius: 8px;
	margin-bottom: 32px;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.error-wrap .error-message {
    font-weight: 600;
    margin-bottom: 16px;
}
.error-wrap .message-manual {
    margin-bottom: 32px;
}